{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "node": "22" },
        "modules": false            
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "useESModules": true        
      }
    ],
    [
      "babel-plugin-module-resolver",
      {
        "alias": {
          "~": "./src"
        }
      }
    ]
  ]
}
