{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    ["@babel/transform-runtime"],
    ["module-resolver", { "alias": { "~": "./src" } }]
  ]
}